* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: radial-gradient(#000b31, #00050f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}